html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	width: 100%;
}

#divMainContent {
	text-align: center;
	font-size: 1.1em;	
	background-color: #FFF;
	padding-bottom: 1.0em;
}

#divMainContent h1 {
	margin: 0;
	padding: 0.5em;
	margin-bottom: 1.0em;
}

#divGrafo {
	width: 90%;
	margin: auto;
	padding: 1.0em;
}


#arrowsMoveGraph {
	float: left;
	width: 30%;	
	margin-left: 5%;
}


#buttonStopGame {
	float: right;
	width: 30%;
}






