* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
}

body, #divMainContent {
    overflow: hidden;
}

.saccoTransition {
	transition: top 2s;
	-moz-transition: top 2s;
	-webkit-transition: top 2;
	-o-transition: top 2;
}

.saccoNoTransition {
	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
}