#divMainContent {
	max-width: 1024px;
	margin: auto;
	background-color: #FFF;
	margin-top: 0em;
	text-align: center;
	padding-bottom: 1.0em;
}

#divMainContent > h2 {
	font-size: 1.8em;
}

.label, label {
	font-size: 1.2em;
}

#divChooseOldPatient, #divNewPatient {
	width: 40%;
	text-align: left;
	margin: 1.0em;
	padding: 0em;
	border: 1px solid #1D5987;
	text-align: center;
}

#divChooseOldPatient h3, #divNewPatient h3 {
	margin: 0em auto;
	margin-bottom: 1.0em;
	padding: 0.3em 0em 0.5em 0em;
	border: none;
}

#divChooseOldPatient {
	float: left;
	margin-left: 5%;
}

#selectPatient {
	min-width: 50%;
	margin-bottom: 2.0em;
	font-size: 0.9em;
}

#divNewPatient {
	float: right;
	margin-right: 5%;
}

#divNewPatient button {
	margin: 0.8em 1% 0.7em 1%;
}

#tableNewPatient {
	width: 90%;
	margin: auto;
	text-align: right;
}

.inputText {
	font-size: 0.8em;
	padding: 0.3em;
	width: 90%;
}

#disabilita {
	width: 95%;
	margin-left: 0.7em;
	font-size: 0.9em;
}

#divGames {
	clear: both;
	margin-bottom: 1.0em;
	padding: 1.0em;
	text-align: left;
	margin-left: 5%;
	width: 50%;
}

#divGames select {
	margin-left: 1.0em;
	min-width: 40%;
}

#divGames p {
	font-size: 0.9em;
	margin: 0.7em 0em 0.7em 0.5em;
	font-style: italic;
}

#divButtons {
	width: 50%;
	margin: auto;
	padding: 0.5em 0 0.5em 0;
	margin-bottom: 1.0em;
}


#divButtons button {
	margin-left: 0.6em;
	margin-right: 0.6em;
	font-size: 1.3em;
}

.alignLeft {
	text-align: left;
}
