* {
	margin: 0em;
	padding: 0em;
}

#divMainContent {
	max-width: 1024px;
	margin: auto;
	background-color: #FFF;
	margin-top: 0em;
	text-align: center;
	padding-bottom: 1.0em;
}

h1 {
	color: darkblue;
}

h1.title {
	padding: 0.4em;
	font-size: 2.7em;
}

div.buttonForGame {
	width: 30%;
	vertical-align: middle;
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	font-size: 1.5em;
	margin: 1.0em;
	margin-top: 2.0em;
	margin-bottom: 2.0em;
	cursor: pointer;
}

#buttonExit {
	display: block;
	margin: auto;
	height: 2.5em;
	width: 30%;
	background-color: #F00;
	color: #FFF;
	font-weight: bold;
	font-size: 1.1em;
	border-top-left-radius: 15% 50%;
	border-bottom-left-radius: 15% 50%;
	border-top-right-radius: 15% 50%;
	border-bottom-right-radius: 15% 50%;
	cursor: pointer;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0em;
}