body {
	overflow: hidden;
}

#divMainContent {
	max-width: 1024px;
	margin: auto;
	background-color: #FFF;
}

#divHeader {
	text-align: center;
	width: 100%;
	margin: auto;
	margin-bottom: 1.0em;
}

.leftSide {
	clear: left;
	float: left;
	width: 50%;
	margin: 1.0em;
}

.rightSide {
	float: right;
	width: 40%;
	margin: 1.0em;
}

#divColoreSfondo, #divColoreImmagine, #divMovimenti, #divSpeed, #divDimensions {
	margin-bottom: 1.0em;
	padding-bottom: 0em;
}

#backgroundColor, #imageColor {
	width: 50%;
	margin: 1.0em;
	display: inline-block;
}

#previewBackgroundColor, #previewImageColor {
	width: 30%;
	border: 1px solid #000;
	margin-bottom: 8%;
	display: inline-block;
}

#divMovimenti, #divSpeed {
	padding-bottom: 1.0em;
}

#divMovimenti p, #divColoreImmagine p {
	margin-bottom: 1.0em;
}

#divMovimenti label, #divColoreImmagine label {
	padding: 0.5em;
}

#divMovimenti input, #divColoreImmagine input {
	margin-left: 5%;
	margin-bottom: 3%;
}

.divContainerSlider {
	width: 60%;
	margin: auto;
	margin-top: 1.0em;
	margin-bottom: 1.0em;
}

#labelSpeed {
	display: inline-block;
	margin-left: 46%;
}

#divImage img {
	width: 40%;
	display: block;
	margin: auto;
	margin-top: 1.0em;
	
	padding-bottom: 0.5em;
}

#divImage select {
	margin-top: 1.0em;
}

#idImage {
	margin: 1.0em;
	font-size: 0.9em;
	width: 40%;
}

div > p {
	padding: 0.3em;
}

div > p > span {
	float:left;
	margin: 0 0.5em;
}

#divBadContrast {
	margin-top: 0em;
	margin-bottom: 1.0em;
}

#divBadContrast p {
	padding: 0.5em;
}

#divDimensions, #divImage {
	text-align: center;
}

#divDimensions p, #divImage p {
	text-align: left;
}

#divDimensions {
	padding-bottom: 1.0em;
}

#sliderDimensions {
	width: 70%;
	margin: auto;
	margin-top: 1.0em;
	margin-bottom: 1.5em;
}

#exampleDimensions {
	clear: both;
	margin: auto;
}

#divButtons {
	text-align: center;
	border: none;
	clear: both;
	width: 80%;
	margin: auto;
}

#divButtons button {
	margin: 5%;
	font-size: 1.5em;
}
